<footer class="bg-secondary text-light text-center py-3">
  <div class="container">
    <p class="mb-0">
      <%= link_to 'Only For Admin Login', new_admin_user_session_path, class: 'btn btn-outline-light' %>
    </p>
  </div>
</footer>